
<body>
    <%- include('includes/head') %>
    <h1>This page belongs to @<%= data.sound %></h1>
    <button>Follow</button>
    <button>following</button>

    <p>sound <%= data.sound %></p>
    <p>leg <%= data.legs %></p>

    <% data.post.forEach(post => { %>
        <img src="<%= post.image %>">
        <%= post.name %>
        <p><%= post.like %></p>
        <% post.comment.forEach(comment => { %>
            <p><%= comment.name %></p>
            <p><%= comment.comment %></p>
        <% }) %>
        <% }) %>
        <%- include('includes/footer') %>
</body>
</html>